parameters:
    checkMissingIterableValueType: false
    level: 8
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        - '#Parameter \#2 \$code of class Zend_Exception constructor expects int, string given\.#'
